.banner{
    background-image: url("../../Assets/img/photo.png");
    box-sizing: border-box;
    height: 790px;
    background-repeat:no-repeat;
    background-size: 100%;
    border-bottom: 10px solid #FB4299;   
    padding: 180px;
    padding-left: 1000px;
}

.banner .wrapper{
    display: flex;
    flex-direction: column;
    width: 650px;
}

.banner .navegation{
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}