.subtitle{
    color: #FFF;
    text-shadow: 3px 3px 0px #000;
    font-family: "Press Start 2P", "sans-serif";
    font-size: 30px;
    font-weight: 400;
}

.subtitle.-second{
    color: #fff;
    text-shadow: none;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 40px;
    font-weight: 400;
    font-size:  35px;
    text-align: start;
}