.title{
    color: #FC98EC;
    text-shadow: 3px 3px 0px #000;
    font-family: "Press Start 2P", "sans-serif";
    font-size: 36px;
    font-weight: 400;
}

.title.-second{
    color: #fff;
    text-shadow: none;
    padding-top: 40px;
    font-size: 40px;
    font-weight: 400;
}